<h1>Add new budget</h1>
<%= simple_form_for @budget, data: { controller: 'flatpickr' } do |f| %>
  <%= f.input :name %>
  <%= f.input :amounts %>
  <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
  <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
  <%= f.submit "Add", class:"btn btn-primary" %>
<% end %>
<%= link_to "Back", budgets_path %>
