<% if @user == @budget.user %>
  <%= @budget.name %>
  ¥<%= @budget.amounts.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %>
  <%= @budget.start_time.strftime("%F") %>
  <%= @budget.end_time.strftime("%F") %>
  <div class="toggle_button">
    <input id="toggle" class="toggle_input" type='checkbox' />
    <label for="toggle" class="toggle_label"/>
  </div>
  records
  <% @budget.records.each do |record| %>
    <%= record.category.name %>
    <%= record.start_time.strftime("%F") %>
    ¥<%= record.amounts.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %>
    <%= record.comment %>
  <% end %>
  <%# <%= pie_chart Record.group(:category).count %>
  <%= pie_chart @user.records.group(:category).count %>
<% else %>
  You don't have access.
<% end %>
<%= link_to "Back", budgets_path %>
